.App {
  text-align: center;
}

body {
  color: #ffffff;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: 0% 1%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.upper-case {
  text-transform: uppercase;
}

.opacity{
  opacity: 0.6;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 100%;
  text-align: center;
}

.time {
  font-size: 1050%;
  font-weight: 500;
}

.weather-icon {
  margin-top: 5px;
}

.temperature {
  font-size: 150%;
  margin-right: 5px;
}

.small-font {
  font-size: 65%;
}
